html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

.icon-sprite, .icon-dribbble, .icon-linkedin, .icon-skype, .icon-twitter {
  background-image: url('/img/icon-s1f1cadc870.png');
  background-repeat: no-repeat; }

.icon-dribbble {
  background-position: 0 0; }

.icon-linkedin {
  background-position: 0 -14px; }

.icon-skype {
  background-position: 0 -28px; }

.icon-twitter {
  background-position: 0 -46px; }

/* Base
   ========================================================================== */
body {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5625em; }

a:link {
  text-decoration: none; }

h1, h2, h3 {
  font-weight: bold;
  color: #303030; }

h1 {
  font-size: 2.5em;
  line-height: 1.25em; }

h2 {
  font-size: 1.875em; }

hr {
  height: 0;
  border: 0; }

i {
  font: italic 12px georgia, serif;
  color: #303030; }

/* Layout
   ========================================================================== */
.container {
  width: 900px;
  margin: 0 auto;
  *zoom: 1; }
  .container:after {
    content: "";
    display: table;
    clear: both; }

header {
  padding: 40px 0; }

.logo {
  float: left;
  width: 73px;
  height: 19px; }
  .logo a {
    display: block;
    width: 100%;
    height: 100%;
    background: url(../img/logo.png) no-repeat; }

.navbar {
  float: right; }

.hero {
  height: 500px;
  background: url(../img/hero.jpg) no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover; }
  .hero-text {
    padding-top: 1px;
    width: 500px;
    margin: 0 auto;
    text-align: center; }
    .hero-text h1 {
      margin-top: 174px;
      text-transform: uppercase; }
    .hero-text p {
      font-family: georgia, serif;
      line-height: 1.875em;
      font-style: italic;
      color: #5a5a5a; }

.work {
  padding-bottom: 4.375em; }

.team {
  padding-bottom: 3.75em;
  background: #f3f3f3;
  -moz-box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(0, 0, 0, 0.1); }
  .team-member {
    margin: 20px -10px;
    *zoom: 1; }
    .team-member:after {
      content: "";
      display: table;
      clear: both; }
    .team-member .person {
      float: left;
      width: 210px;
      margin: 0 10px;
      padding-top: 1em;
      padding-bottom: 1em;
      text-align: center;
      background-color: #fff;
      -moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.25);
      -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.25);
      box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.25); }

.contact {
  padding-bottom: 4em; }
  .contact h4 {
    margin-bottom: 2em;
    font-size: 16px; }
  .contact .locate {
    float: left; }
    .contact .locate .map {
      width: 320px;
      height: 320px;
      border: 6px solid #fff;
      background: url(../img/map.png) no-repeat;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
      -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25); }
  .contact .form {
    width: 540px;
    float: right; }

footer {
  padding: 2em 0;
  color: #6e6e6e;
  background-color: #4f4f4f; }
  footer address {
    float: left; }
    footer address b {
      color: #949494; }
  footer p {
    float: right; }

/* Modules
   ========================================================================== */
.nav__item {
  float: left;
  margin-left: 2em;
  margin-right: 2em; }
  .nav__item a {
    display: block;
    font-size: 12px;
    line-height: 19px;
    text-transform: uppercase;
    color: #a7a7a7;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s; }
    .nav__item a:hover {
      color: #303030;
      -moz-box-shadow: 0 2px 0 0 #303030;
      -webkit-box-shadow: 0 2px 0 0 #303030;
      box-shadow: 0 2px 0 0 #303030; }

.btn {
  display: inline-block;
  width: 80px;
  height: 80px;
  background: url(../img/btn.png) no-repeat; }

.caption,
.description {
  width: 500px; }

.caption {
  margin-top: 1.66667em;
  text-transform: uppercase; }

.divider {
  width: 240px;
  margin: 1.25em;
  border-top: 3px solid #303030; }

.gallery {
  margin: 0 -30px;
  *zoom: 1; }
  .gallery:after {
    content: "";
    display: table;
    clear: both; }
  .gallery .thumbnail {
    float: left;
    width: 260px;
    margin: 30px; }
    .gallery .thumbnail a {
      display: block;
      width: 260px;
      height: 170px; }
      .gallery .thumbnail a img {
        opacity: .85;
        -moz-transition: all 1s;
        -o-transition: all 1s;
        -webkit-transition: all 1s;
        transition: all 1s; }
      .gallery .thumbnail a:hover img {
        opacity: 1; }

.social-media li {
  display: inline-block;
  margin: 0 5px; }
.social-media [class*="icon-"] {
  display: inline-block;
  vertical-align: middle; }
.social-media .icon-dribbble {
  width: 14px;
  height: 14px; }
.social-media .icon-twitter {
  width: 17px;
  height: 12px; }
.social-media .icon-linkedin {
  width: 15px;
  height: 14px; }
.social-media .icon-skype {
  width: 18px;
  height: 18px; }

.contact-form p:first-child {
  margin-bottom: 1em; }
.contact-form textarea {
  width: 100%;
  height: 235px; }
.contact-form input[type="email"] {
  width: 312px;
  height: 60px;
  float: left; }
.contact-form input[type="submit"] {
  float: right;
  height: 60px;
  width: 205px;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  background-color: #6995a9;
  border: 2px solid #fff;
  cursor: pointer; }
  .contact-form input[type="submit"]:hover {
    background-color: #79a0b2; }

/* Utilities
   ========================================================================== */
.text-hide {
  font: 0/0 a;
  color: transparent;
  background-color: transparent;
  text-shadow: none;
  border: 0; }

.list-unstyled, .nav {
  padding-left: 0;
  list-style-type: none; }

.caption,
.description, .divider {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.caption,
.description {
  text-align: center; }

.work, .team, .contact {
  padding-top: 1px; }

.contact-form textarea, .contact-form input[type="email"] {
  padding: 1em;
  font-size: 1em;
  font-family: georgia, serif;
  border: 1px solid #d9d9d9;
  background-color: #f2f2f2;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.input-block {
  display: block;
  width: 100%; }

/*# sourceMappingURL=style.css.map */
