body {
  font-family: sans-serif;
  font-size: $base-font-size;
  line-height: em(25px);
}
a:link { text-decoration: none; }

h1, h2, h3 {
  font-weight: bold;
  color: $color-heading;
}
h1 {
  font-size: em(40px);
  line-height: em(50px, 40px);
}
h2 { font-size: em(30px); }

hr {
  height: 0;
  border: 0;
}

i {
  font: italic 12px georgia, serif;
  color: $color-heading;
}
