// Grid

.container {
  width: 900px;
  margin: 0 auto;
  @include pie-clearfix;
}

// Header

header {
  padding: 40px 0;
}

.logo {
  @include float(left);
  width: 73px;
  height: 19px;
  a {
    display: block;
    width: 100%;
    height: 100%;
    background: url(../img/logo.png) no-repeat;
  }
}

.navbar {
  @include float(right);
}

// Hero

.hero {
  height: 500px;
  background: url(../img/hero.jpg) no-repeat;
  @include background-size(cover);
  &-text {
    padding-top: 1px;
    width: 500px;
    margin: 0 auto;
    text-align: center;
    h1 {
      margin-top: 174px;
      text-transform: uppercase;
    }
    p {
      font-family: georgia, serif;
      line-height: em(30px);
      font-style: italic;
    }
  }
}

// Work

.work {
  padding-bottom: em(70px);
  @extend %section;
}

// Team

.team {
  padding-bottom: em(60px);
  @extend %section;
  background: $color-bg-section;
  @include box-shadow(0 -1px 0 rgba(0,0,0,.1), 0 1px 0 rgba(0,0,0,.1));
  &-member {
    margin: 20px -10px;
    @include pie-clearfix;
    .person {
      @include float(left);
      width: 210px;
      margin: 0 10px;
      padding-top: 1em;
      padding-bottom: 1em;
      text-align: center;
      background-color: #fff;
      @include box-shadow(0 2px 3px 0 rgba(0,0,0,.25));
    }
  }
}

// Contact
.contact {
  @extend %section;
  padding-bottom: 4em;
  h4 {
    margin-bottom: 2em;
    font-size: 16px;
  }
  .locate {
    @include float(left);
    .map {
      width: 320px;
      height: 320px;
      border: 6px solid #fff;
      background: url(../img/map.png) no-repeat;
      @include box-sizing(border-box);
      @include box-shadow(0 2px 5px rgba(0,0,0,.25));
    }
  }
  .form {
    width: 540px;
    @include float(right);
  }
}


// Footer

footer {
  padding: 2em 0;
  color: #6e6e6e;
  background-color: #4f4f4f;
  address {
    @include float(left);
    b {
      color: #949494;
    }
  }
  p {
    @include float(right);
  }
}
